.notification {
  display: flex;
  flex-direction: column;
  border: 1px solid #ec4543;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #f2bab9;
}

.title,
.message {
  margin: 0;
}

.title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}
