.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2.2rem 1rem 2.25rem;
  margin: 0.5rem;
	font-size: 1.1rem;
  min-height: 12.5rem;
}

.item--small {
  min-height: 8rem;
}

.item__title {
  font-weight: bold;
  font-size: 1.25rem;
}

.item p {
    margin: 0.25rem 0;
}

.item p span {
    font-weight: bold;
}

.item p span ::after {
  content: ' ';
}

.general {
  background-color: #C5C3FE;
}

.general.fade {
  background-color: rgba(197, 195, 254, 0.5);
}

.protein {
  background-color: #FFB5B5;
}

.station {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: underline;
}

.stamp {
  position: absolute;
  z-index: 10;
  bottom: 1rem;
  right: 0.5rem;
}

@media (max-width: 969px){
  .item {
    font-size: 1rem;
  }

  .stamp {
    transform: rotate(-3deg) scale(0.9);
  }
}

@media (max-width: 790px){
  .title {
    font-size: 1.1rem;
  }
}

@media (max-width: 780px){
  .stamp {
    font-size: 0.85rem;
    border: 0.2rem solid black;
  }
}

@media (max-width: 675px){
  .item {
    padding-bottom: 0.625rem;
    padding-top: 2.35rem;
  }
}
  
@media (max-width: 675px) and (min-width: 601px){
  .stamp {
    font-size: 0.8rem;
    transform: unset;
    border-radius: 10px;
    border: 0.15rem solid black;
    position: static;
    bottom: 10px;
    padding: 0 0.625rem;
    margin-top: 0.5rem;
    text-align: center;
  }
}

@media (max-width: 600px){
  .item {
    justify-content: flex-start;
    padding-top: 2.4rem;
  }
} 